<div class="container-fluid testimonial py-5">
    <div class="container py-5">
        <div class="testimonial-header text-center">
            <h4 class="text-primary">Our Testimonial</h4>
            <h1 class="display-5 mb-5 text-dark">Our Clients Say!</h1>
        </div>
        <div class="owl-carousel testimonial-carousel">
        {% if testimonials %}
            {% for testimonial in testimonials %}
                <div class="testimonial-item img-border-radius bg-light rounded p-4">
                    <div class="position-relative">
                        <div class="mb-4 pb-4 border-bottom border-secondary">
                            <p class="mb-0">{{ testimonial.comment }}</p>
                        </div>
                        <div class="d-flex align-items-center flex-nowrap">
                            <div class="ms-4 d-block">
                                <h4 class="text-dark">{{ testimonial.name }}</h4>
                                <p class="m-0 pb-3">{{ testimonial.product.name }}</p>
                                <div class="d-flex mb-4">
                                    {% for _ in "12345"|make_list %}
                                        {% if forloop.counter <= product.rating %}
                                            <i class="fa fa-star text-warning"></i>
                                        {% elif forloop.counter|floatformat:1 == product.rating|floatformat:1 %}
                                            <i class="fa fa-star-half-alt text-warning"></i>
                                        {% else %}
                                            <i class="fa fa-star-o text-secondary"></i>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
            {% endfor %}
            
        {% else %}
                <p class="text-center">No testimonials available.</p>
        {% endif %}
        </div>
    </div>
</div>